<!DOCTYPE html>
<html>
<head>
<title>Stats Page</title>
</head>
<body>
<center><h1>Stats Page</h1>
<h2>You Scored</h2>
<table>
<tr><td>Wins: </td> <td><%= @win %><br></td></tr>
<tr><td>Losses: </td><td> <%= @lose %><br></td></tr>
<tr><td>Ties:</td><td> <%= @tie %><br></td></tr>
</table>

<a href= "/">Play Again</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--<a href= "/stats">Stats Page</a>-->

<br><br>
</center>
</body>
</html>